= form_for(@social_activity) do |f|
  - if @social_activity.errors.any?
    #error_explanation
      %h2
        = pluralize(@social_activity.errors.count, "error")
        prohibited this social_activity from being saved:
      %ul
        - @social_activity.errors.full_messages.each do |msg|
          %li= msg
  .actions
    = f.submit
