%h1 Listing social_activities
%table
  %tr
    %th
    %th
    %th
  - @social_activities.each do |social_activity|
    %tr
      %td= link_to 'Show', social_activity
      %td= link_to 'Edit', edit_social_activity_path(social_activity)
      %td= link_to 'Destroy', social_activity, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Social activity', new_social_activity_path
