<h1>Listing subsidy_types</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subsidy_types.each do |subsidy_type| %>
  <tr>
    <td><%= link_to 'Show', subsidy_type %></td>
    <td><%= link_to 'Edit', edit_subsidy_type_path(subsidy_type) %></td>
    <td><%= link_to 'Destroy', subsidy_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subsidy type', new_subsidy_type_path %>
