.modal{:id => "role-options-#{user.id}", :style => "display: none;"}
  = simple_form_for user, :url => user_path(user), :html => {:method => :put, :class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3 Изменить роль
    .modal-body
      = f.collection_check_boxes :role_ids, Role.all, :id, :russian_name
    .modal-footer
      = f.submit "Изменить роль", :class => "btn"
      %a.btn{"data-dismiss" => "modal", :href => "#"} Закрыть
