.span12
  %h3 Ошибка 404: страница не найдена
  %p Проверьте правильность написания адреса страницы или #{ link_to 'напишите нам', mailto:ENV['ADMIN_EMAIL'] }.
  = link_to 'Назад', :back, {:class => "btn"}